.header__container {
  display: flex;
  justify-content: center;

  width: 100%;

  background-image: url(/assets/img/Frame_21.svg);
}

.nav__container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 100px 0 100px 0;

  width: 85%;
}

.nav__container > img {
  width: 60%;
}

.nav__container > h1 {
  font-size: var(--title-3);
  font-weight: bolder;

  color: var(--color-grey-3);
}

.nav__container > p {
  color: var(--color-grey-5);

  font-size: var(--text-2);
}

.paragrafo {
  font-size: var(--text-1);
  font-weight: bolder;
}

.botao__vagas {
  padding: 20px;

  border-radius: var(--radius-default);

  font-size: var(--text-1);
  font-weight: bolder;

  background-color: var(--color-brand-1);
  color: var(--color-grey-5);

  border: none;

  cursor: pointer;
}

.botao__vagas:hover {
  background-color: var(--color-brand-2);
}

.main__container {
  display: flex;
  flex-direction: column;

  align-items: center;

  justify-content: center;

  width: 100%;
}

.section__container {
  display: flex;
  flex-direction: column;

  gap: 50px;

  width: 90%;

  margin-top: 50px;
}

.section__container > h2 {
  font-size: var(--title-4);
  font-weight: bolder;

  color: var(--color-grey-1);
}

.vaga {
  display: flex;
  flex-direction: column;

  gap: 25px;

  background-color: var(--color-grey-6);

  padding: 13%;

  border-radius: var(--radius-default);
}

.vaga > h3 {
  font-size: var(--title-4);
  font-weight: bolder;

  color: var(--color-grey-1);
}

.vaga__local {
  display: flex;
  gap: 37px;
}

.modalidade--botao {
  display: flex;
  flex-direction: column;
}

.modalidade {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;

  font-size: var(--text-3);

  background-color: var(--color-grey-3);

  border-radius: var(--radius-default);

  margin-bottom: 30px;
}

.botao__candidatar {
  color: var(--color-grey-6);
  background-color: var(--color-brand-1);

  border-radius: var(--radius-default);
  border: none;

  font-size: var(--text-2);
  font-weight: 600;

  padding: 5%;

  cursor: pointer;
}

.botao__candidatar:hover {
  background-color: var(--color-brand-2);
}

.vagas__selecionadas {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;

  margin-top: 50px;

  background-color: var(--color-grey-6);

  border-radius: var(--radius-default);

  width: 70%;

  padding: 10%;

  overflow: scroll;

  min-height: 300px;
  max-height: 450px;
}

.vagas__selecionadas > h2 {
  font-size: var(--title-4);
  font-weight: bolder;

  color: var(--color-grey-1);

  margin: 40px 0 0 0;
}

.vaga__selecionada {
  display: flex;
  flex-direction: column;

  padding: 3% 13% 5% 13%;

  gap: 30px;

  border-bottom: solid 1px var(--color-grey-3);
}

.vaga__selecionada--title {
  display: flex;
}

.vaga__selecionada--title > h3 {
  color: var(--color-grey-1);

  font-weight: bolder;
  font-size: var(--title-5);
}

.lixeira {
  cursor: pointer;
}

.footer__container {
  height: 50px;
}
